/* Application Configuraiton */
app/scripts/config/config.constant.js
app/scripts/app.templates.js
node_modules
.tmp
.sass-cache
bower_components
test/coverage
docs

/* Live Applicaton Build */
dist

/* Protractor - E2E testing w/Selenium. */
test/screenshots/*
